!code/*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*bcf
*log
*obo.data
*out
*pdf
*workspace
*xml
.R*
.ipynb_*
Rdata

1.sra/data
data/expanded
