data/clean/maize.B73.AGPv3.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/clean/maize.B73.AGPv4.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/clean/maize.B73.AGPv4.gramene.gaf filter=lfs diff=lfs merge=lfs -text
data/clean/maize.Mo17.AGPv1.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/clean/maize.PH207.UIUC_UMN-1.0.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/clean/maize.PH207.UIUC_UMN-1.0.community.gaf filter=lfs diff=lfs merge=lfs -text
data/clean/maize.W22.AGPv2.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/community/TPC2016-00353-LSBR2-A_Supplemental_Dataset_1.txt filter=lfs diff=lfs merge=lfs -text
data/community/zmays_refgeb_v4_gramene_go.txt filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.B73.AGPv3.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.B73.AGPv3.aggregate.gaf.new filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.B73.AGPv4.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.B73.AGPv4.gramene.gaf filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.Mo17.AGPv1.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.PH207.UIUC_UMN-1.0.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.PH207.UIUC_UMN-1.0.community.gaf filter=lfs diff=lfs merge=lfs -text
data/expanded/maize.W22.AGPv2.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/fasta/filt_fasta/B73v3.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/filt_fasta/B73v4.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/filt_fasta/Mo17.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/filt_fasta/PH207.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/filt_fasta/W22.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/filt_fasta/faSeqData.tsv filter=lfs diff=lfs merge=lfs -text
data/fasta/raw_fasta/B73v3.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/raw_fasta/B73v4.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/raw_fasta/Mo17.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/raw_fasta/PH207.fa filter=lfs diff=lfs merge=lfs -text
data/fasta/raw_fasta/W22.fa filter=lfs diff=lfs merge=lfs -text
data/go/go.obo filter=lfs diff=lfs merge=lfs -text
data/maize/gene_model_xref_v4.txt filter=lfs diff=lfs merge=lfs -text
data/maize/maizeCrossRef.tsv filter=lfs diff=lfs merge=lfs -text
data/predicted/maize.B73.AGPv3.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/predicted/maize.B73.AGPv4.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/predicted/maize.B73.AGPv4.gramene.gaf filter=lfs diff=lfs merge=lfs -text
data/predicted/maize.Mo17.AGPv1.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/predicted/maize.PH207.UIUC_UMN-1.0.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/predicted/maize.PH207.UIUC_UMN-1.0.community.gaf filter=lfs diff=lfs merge=lfs -text
data/predicted/maize.W22.AGPv2.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/specific/maize.B73.AGPv3.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/specific/maize.B73.AGPv4.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/specific/maize.B73.AGPv4.gramene.gaf filter=lfs diff=lfs merge=lfs -text
data/specific/maize.Mo17.AGPv1.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/specific/maize.PH207.UIUC_UMN-1.0.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/specific/maize.PH207.UIUC_UMN-1.0.community.gaf filter=lfs diff=lfs merge=lfs -text
data/specific/maize.W22.AGPv2.aggregate.gaf filter=lfs diff=lfs merge=lfs -text
data/metrics/gafSpecificity.tsv filter=lfs diff=lfs merge=lfs -text
